<h1>HOME PAGE</h1>

<% if session[:email] %>
<p>hello</p>
  <%#= link_to "Logout", users_session_path(user.id), method: :post, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Login", new_users_session_path, class: "btn btn-primary" %>
<% end %>
<%# raise %>