h1, .header-h1 {
  font-size: 36px;
  font-family: 'Rajdhani', sans-serif;
}

h2, .header-h2 {
  font-size: 28px;
  font-family: 'Rajdhani', sans-serif;
}

h3, .header-h3 {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}
