.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 5;
  background-color: $grey;
  a {
    color: $white;
    &:hover {
      color: $gray;
    }
  }
}
